.address {
  background-color: #ffd74b;
  border-radius: 0 0 30px 30px;
  padding: 50px 25px 35px;
}

.address__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address__text {
  color: #192144;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  width: 180px;
  padding: 23px 0 22px 17px;
  margin: 10px auto;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #121936;
    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-size: 14px 22px;
    background-position: 50%;
    position: absolute;
    left: -44px;
    top: 22px;
  }
}

.address__nav-link {
  color: #1d2e5b;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  width: 270px;
  min-height: 62px;
  border: 3px solid #192144;
  border-radius: 10px;
  text-decoration: none;
  padding: 20px 40px 18px 20px;
  margin: 0 auto;
  position: relative;

  &:hover,
  &:focus {
    background-color: #192144;
    color: white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.address__nav-icon {
  width: 10px;
  height: 14px;
  position: absolute;
  left: 235px;
  top: 22px;
  fill: #1d2e5b;
}

.address__nav-link:hover .address__nav-icon,
.address__nav-link:focus .address__nav-icon {
  fill: white;
}

.address__nav-link:active .address__nav-icon {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .address {
    border-radius: 0 0 60px 60px;
  }

  .address__text {
    font-size: 28px;
    line-height: 28px;
    width: 688px;
    padding: 0;
    padding-left: 128px;
    margin: 69px auto 62px;

    &::before {
      width: 67px;
      height: 67px;
      top: -22px;
      left: 35px;
      background-size: 21px 31px;
    }
  }

  .address__nav-link {
    width: 618px;
    min-height: 81px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding: 26px 50px 25px 33px;
    margin-bottom: 49px;
  }

  .address__nav-icon {
    top: 32px;
    left: 569px;
  }
}

@media (min-width: @desktop) {
  .address__wrap {
    flex-direction: row;
  }

  .address__text {
    width: 610px;
    margin: 82px 62px 50px 179px;
    padding-left: 166px;

    &::before {
      width: 90px;
      height: 90px;
      left: 45px;
      top: -31px;
      background-size: 28px 43px;
    }
  }

  .address__nav-link {
    color: #192144;
    width: 324px;
    margin: 60px 73px 25px 70px;
  }

  .address__nav-icon {
    top: 32px;
    left: 276px;
  }
}
