.contact-list {
  list-style: none;
}

.contact-list__link {
  margin: 9px 0 14px;
  display: inline-block;
  vertical-align: middle;
  color: #192144;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  &--yellow {
    color: #ffd74b;

    &:hover,
    &:focus {
      color: #ffbd30;
    }

    &:active {
      color: rgba(255, 189, 48, 0.3);
    }
  }

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #121936;
    position: absolute;
    left: -62px;
    top: -13px;
  }
}

.contact-list__link-icon {
  position: absolute;
  left: -48px;
  top: 0;
  fill: #ffd74b;

  &--mail {
    top: 3px;
  }
}

.contact-list__link:hover .contact-list__link-icon,
.contact-list__link:focus .contact-list__link-icon {
  fill: #ffbd30;
}

.contact-list__link:active .contact-list__link-icon {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .contact-list {
    padding: 0;
  }

  .contact-list__link {
    font-size: 28px;
    line-height: 28px;
    margin-top: 19px;
    margin-bottom: 19px;

    &::before {
      width: 67px;
      height: 67px;
      left: -90px;
      top: -22px;
    }
  }

  .contact-list__link-icon {
    width: 27px;
    height: 27px;
    left: -69px;
    top: -2px;
  }
}

@media (min-width: @desktop) {
  .contact-list__item {
    &:first-child {
      margin-right: 234px;
    }
  }

  .contact-list__link {
    &::before {
      width: 90px;
      height: 90px;
      left: -122px;
      top: -31px;
    }

    &--phone {
      &::before {
        background-size: 36px;
      }
    }

    &--email {
      &::before {
        background-size: 36px 26px;
      }
    }
  }

  .contact-list__link-icon {
    width: 36px;
    height: 36px;
    left: -94px;
    top: -4px;
  }
}
