.container {
  width: @mobile;
  padding: 0 25px;
  align-self: center;
}

@media (min-width: @tablet) {
  .container {
    width: @tablet;
    padding: 0 40px;
  }
}

@media (min-width: @desktop) {
  .container {
    width: @desktop;
    padding: 0 60px;
  }
}
