.intro {
  color: white;
  border-radius: 0 0 30px 30px;
  padding-top: 277px;

  &--inner {
    padding-top: 0;
  }
}

@media (min-width: @tablet) {
  .intro {
    padding-top: 0;
  }
}

@media (min-width: @tablet) {
  .intro__wrap {
    width: @tablet;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop) {
  .intro__wrap {
    width: 1320px;
    display: flex;
    flex-direction: column;
  }
}

.intro__contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 auto;

  &--inner {
    display: none;
  }
}

@media (min-width: @tablet) {
  .intro__contact-list {
    display: flex;
    position: fixed;
    top: 40px;
    left: 50%;
    z-index: 2;
    margin-left: 160px;
  }
}

@media (min-width: @desktop) {
  .intro__contact-list {
    margin-left: 400px;
  }
}

.intro__phone-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff8d30;
  display: block;
}

@media (min-width: @tablet) {
  .intro__phone-link {
    display: none;
  }
}

@media (min-width: @desktop) {
  .intro__phone-link {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.intro__email-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbd30;
  display: block;
}

@media (min-width: @tablet) {
  .intro__email-link {
    display: none;
  }
}

@media (min-width: @desktop) {
  .intro__email-link {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.intro__login-link {
  color: #161c35;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ffd74b;
  width: 189px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  text-transform: uppercase;
  display: block;
}

@media (min-width: @tablet) {
  .intro__login-link {
    font-size: 20px;
    height: 50px;
    border-radius: 25px;
    padding: 11px;
  }
}

.intro__quote {
  width: 220px;
  margin: 30px auto 30px;
  padding-right: 50px;
}

@media (min-width: @tablet) {
  .intro__quote {
    width: @tablet;
    padding: 25px 430px 60px 75px;
  }
}

@media (min-width: @desktop) {
  .intro__quote {
    width: 260px;
    padding: 0;
    margin: 97px 0 50px auto;
  }
}

.intro__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

@media (min-width: @tablet) {
  .intro__text {
    font-size: 28px;
    line-height: 33px;
  }
}

.intro__author {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-style: normal;
}

@media (min-width: @tablet) {
  .intro__author {
    font-size: 21px;
    line-height: 25px;
  }
}

.intro__list {
  list-style: none;
  color: #161c35;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  width: 270px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: @tablet) {
  .intro__list {
    display: flex;
    flex-wrap: wrap;
    width: @tablet;
    padding: 40px;
    font-size: 24px;
    line-height: 24px;
    margin-top: 70px;
  }
}

@media (min-width: @desktop) {
  .intro__list {
    width: 1350px;
    padding: 0;
    margin-bottom: 123px;
    margin-left: -15px;
  }
}

.intro__list-item {
  min-height: 95px;
  border-radius: 10px;
  padding: 23px 90px 23px 26px;
  margin-top: -15px;
}

@media (min-width: @tablet) {
  .intro__list-item {
    width: 344px;
    height: 140px;
    padding: 31px 100px 60px 31px;
    margin-top: 0;
  }
}

@media (min-width: @desktop) {
  .intro__list-item {
    width: 388px;
    border-radius: 20px;
    height: 107px;
    margin-left: -43px;
  }
}

.intro__list-item--1 {
  background-color: #ff8d30;
  margin-top: 0;
}

@media (min-width: @tablet) {
  .intro__list-item--1 {
    width: 354px;
    border-radius: 10px 0 0 0;
  }
}

@media (min-width: @desktop) {
  .intro__list-item--1 {
    border-radius: 20px;
    margin-left: 0;
    width: 388px;
    padding-right: 200px;
  }
}

.intro__list-item--2 {
  background-color: #ffa530;
}

@media (min-width: @tablet) {
  .intro__list-item--2 {
    border-radius: 10px 10px 0 0;
    margin-left: -10px;
  }
}

@media (min-width: @desktop) {
  .intro__list-item--2 {
    border-radius: 20px;
    margin-left: -43px;
  }
}

.intro__list-item--3 {
  background-color: #ffbd30;
}

@media (min-width: @tablet) {
  .intro__list-item--3 {
    width: 354px;
    border-radius: 0 0 0 10px;
  }
}

@media (min-width: @desktop) {
  .intro__list-item--3 {
    border-radius: 20px;
    width: 388px;
  }
}

.intro__list-item--4 {
  background-color: #ffd74b;
  min-height: 80px;
}

@media (min-width: @tablet) {
  .intro__list-item--4 {
    border-radius: 0 0 10px 10px;
    margin-left: -10px;
  }
}

@media (min-width: @desktop) {
  .intro__list-item--4 {
    width: 315px;
    border-radius: 20px;
    margin-left: -43px;
  }
}
