.intro {
  color: white;
  border-radius: 0 0 30px 30px;

  &--inner {
    padding-top: 0;
  }
}

.intro__wrap {
  margin-top: 55px;
}

.intro__contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 auto;

  &--inner {
    display: none;
  }
}

.intro__phone-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff8d30;
  display: block;
}

.intro__email-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbd30;
  display: block;
}

.intro__login-link {
  color: #161c35;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ffd74b;
  width: 189px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  text-transform: uppercase;
  display: block;
}

.intro__quote {
  width: 220px;
  margin: 30px auto;
  padding-right: 50px;
}

.intro__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.intro__author {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-style: normal;
}

.intro__list {
  list-style: none;
  color: #161c35;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 40px;
}

.intro__list-item {
  display: flex;
  min-height: 95px;
  border-radius: 10px;
  padding: 23px;
  margin-top: -15px;
}

.intro__list-text {
  width: 140px;
}

.intro__list-number {
  color: white;
  margin-left: auto;
}

.intro__list-item--1 {
  background-color: #ff8d30;
  margin-top: 0;
}

.intro__list-item--2 {
  background-color: #ffa530;
}

.intro__list-item--3 {
  background-color: #ffbd30;
}

.intro__list-item--4 {
  background-color: #ffd74b;
  min-height: 80px;
}

@media (min-width: @tablet) {
  .intro {
    padding-top: 0;
  }

  .intro__wrap {
    display: flex;
    flex-direction: column;
  }

  .intro__contact-list {
    display: flex;
    position: fixed;
    top: 40px;
    left: 50%;
    z-index: 2;
    margin-left: 155px;
  }

  .intro__phone-link {
    display: none;
  }

  .intro__email-link {
    display: none;
  }

  .intro__login-link {
    font-size: 20px;
    height: 50px;
    border-radius: 25px;
    padding: 11px;
  }

  .intro__quote {
    width: 260px;
    padding: 0;
    margin: 40px auto 100px 35px;
  }

  .intro__text {
    font-size: 28px;
    line-height: 33px;
  }

  .intro__author {
    font-size: 21px;
    line-height: 25px;
  }

  .intro__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 24px;
    margin-top: 140px;
  }

  .intro__list-item {
    width: 344px;
    height: 140px;
    padding: 25px 30px;
    margin-top: 0;
    flex-direction: column;
  }

  .intro__list-text {
    width: 190px;
  }

  .intro__list-number {
    margin: auto auto 0 0;
  }

  .intro__list-item--1 {
    width: 354px;
    border-radius: 10px 0 0 0;
  }

  .intro__list-item--2 {
    border-radius: 10px 10px 0 0;
    margin-left: -10px;
  }

  .intro__list-item--3 {
    width: 354px;
    border-radius: 0 0 0 10px;
  }

  .intro__list-item--4 {
    border-radius: 0 0 10px 10px;
    margin-left: -10px;
  }
}

@media (min-width: @desktop) {
  .intro__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .intro__contact-list {
    margin-left: 370px;
  }

  .intro__phone-link {
    display: block;
    width: 50px;
    height: 50px;
  }

  .intro__email-link {
    display: block;
    width: 50px;
    height: 50px;
  }

  .intro__quote {
    width: 260px;
    padding: 0;
    margin: 40px 25px 50px auto;
  }

  .intro__list {
    padding: 0;
    margin: 40px auto 123px;
  }

  .intro__list-item {
    width: 380px;
    border-radius: 20px;
    height: 107px;
    margin-left: -35px;
    flex-direction: row;
    padding: 30px 68px 30px 35px;
  }

  .intro__list-item--1 {
    border-radius: 20px;
    margin-left: 0;
    width: 350px;
  }

  .intro__list-item--2 {
    border-radius: 20px;
  }

  .intro__list-item--3 {
    border-radius: 20px;
  }

  .intro__list-item--4 {
    width: 315px;
    border-radius: 20px;
    padding-right: 33px;
  }

  .intro__list-text {
    width: 190px;
  }

  .intro__list-number {
    margin: 0 0 auto auto;
  }
}

