.lead__wrap {
  padding-top: 5px;
}

.lead__title {
  color: #ff8d30;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  width: 220px;
  margin: 27px auto 19px;

  &--center {
    text-align: center;
    margin: 0 auto;
  }
}

.lead__text {
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  width: 220px;
  margin: 19px auto;

  &--center {
    text-align: center;
  }

  &--bold {
    font-weight: bold;
  }

  &--grey {
    color: #444444;
    margin: 0 auto;
  }

  &--profiles {
    margin: 0 auto;
  }
}

.lead__about-link {
  display: none;
}

@media (min-width: @tablet) {
  .lead__title {
    width: 300px;
    margin-bottom: 40px;
    margin-left: 35px;
    font-size: 45px;
    line-height: 45px;
  }

  .lead__text {
    margin-bottom: 32px;
    margin-left: 35px;
    font-size: 28px;
    line-height: 33px;
    width: 300px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }

    &--grey {
      width: 340px;
      margin-top: 20px;
    }

    &--profiles {
      width: 425px;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }

  .lead__about-link {
    display: block;
    color: #1d2e5b;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    width: 274px;
    background-color: #ffd74b;
    border-radius: 20px;
    text-decoration: none;
    padding: 31px 50px 26px 34px;
    margin: 50px 0 50px 35px;
    position: relative;

    &::before {
      content: url("../img/triangle-arrow-right.svg");
      width: 10px;
      height: 14px;
      position: absolute;
      left: 228px;
      top: 29px;
    }

    &:hover,
    &:focus {
      background-color: #ffbd30;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }

  .lead__wrap {
    padding-top: 30px;
  }
}

@media (min-width: @desktop) {
  .lead {
    &--about {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }

  .lead__wrap {
    margin-top: 20px;
  }

  .lead__title {
    margin: 31px auto 59px 70px;
    width: 340px;
  }

  .lead__text {
    width: 620px;
    margin-left: 70px;

    &--bold {
      width: 410px;
      margin-top: 38px;
      margin-bottom: 84px;
    }

    &--grey {
      width: 340px;
      margin-top: -2px;
      margin-bottom: 0;
    }

    &--profiles {
      width: 425px;
      margin-top: -2px;
      margin-bottom: 0;
    }
  }

  .lead__about-link {
    margin-left: 70px;
    margin-bottom: 54px;
  }
}
