.level {
  border-radius: 50%;
  border: 3px solid #ff8d30;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 10px;

  &--blue {
    background-color: transparent;
    color: #1d2e5b;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    top: 7px;
    left: 20px;
    width: 45px;
    height: 45px;
    padding: 13px 7px;
    margin: 0;
  }
}

.level__number {
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  &--blue {
    color: #161c35;
    font-size: 38px;
    line-height: 38px;
  }
}

.level__level {
  display: none;
}

@media (min-width: @tablet) {
  .level {
    &--blue {
      line-height: 24px;
      padding: 9px 0;
      width: 60px;
      height: 60px;
      top: 0;
    }
  }

  .level__level {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: rgba(68, 68, 68, 0.4);
    font-weight: normal;
  }
}
