.main-nav__contact-list {
  margin: 30px 27px 0;
}

.main-nav__login {
  display: block;
  color: #161c35;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ffd74b;
  width: 270px;
  border-radius: 25px;
  padding: 14px 10px 6px;
  margin: 30px auto;
}

.main-nav__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

@media (min-width: @tablet) {
  .main-nav__login {
    display: none;

    &--inner {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 180px;
      margin: 40px;
    }
  }

  .main-nav__contact-list {
    margin-left: 138px;
  }

  .main-nav__social-list {
    margin: 130px 80px 90px;
    justify-content: flex-start;
  }
}

@media (min-width: @desktop) {
  .main-nav__contact-list {
    display: none;
  }

  .main-nav__social-list {
    display: none;
  }
}
