.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 2;
  right: -25px;

  &--open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
}

.main-nav__toggle {
  background-image: url("../../img/menu.svg");
  background-color: transparent;
  fill: white;
  width: 25px;
  height: 11px;
  border: none;
  margin: 30px 0;

  &--scroll {
    background-color: #cccccc;
  }
}

.main-nav__site-list {
  margin: 30px auto;
}

.main-nav__contact-list {
  margin: 30px auto;
}

.main-nav__login {
  display: block;
  color: #161c35;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ffd74b;
  width: 270px;
  height: 50px;
  border-radius: 25px;
  padding: 14px;
  margin: 30px auto;
}

@media (min-width: @tablet) {
  .main-nav__wrapper {
    width: @tablet;
    right: -367px;
  }

  .main-nav__toggle {
    margin: 60px 0;
  }

  .main-nav__site-list {
    margin-left: 100px;
  }

  .main-nav__login {
    display: none;

    &--inner {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 180px;
      margin: 40px;
    }
  }
}

@media (min-width: @desktop) {
  .main-nav__wrapper {
    display: flex;
    margin: 0;

    &--open {
      background-color: transparent;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    display: flex;
    width: 600px;
    margin: 53px auto 50px 75px;
  }

  .main-nav__contact-list {
    display: none;
  }
}
