.page-header {
  background-color: #161c35;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__wrap {
  width: 320px;
}

.page-header__logo {
  display: block;
  margin: 25px;
}
