.page-footer {
  border-radius: 30px 30px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -220px;
  background: white;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--inner {
    margin-top: -40px;
  }
}

@media (min-width: @tablet) {
  .page-footer {
    height: 154px;
    margin-top: -154px;
  }
}

.page-footer__wrap {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: @tablet) {
  .page-footer__wrap {
    width: @tablet;
    flex-direction: row;
    margin: auto;
  }
}

.page-footer__logo {
  margin: 30px auto;
}

@media (min-width: @tablet) {
  .page-footer__logo {
    width: 105px;
    height: 17px;
    margin: 67px 50px 70px 100px;
  }
}

.page-footer__text {
  color: #444444;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 25px;
  margin-top: 40px;
  margin-right: auto;
  position: relative;

  &::before {
    content: "";
    width: 270px;
    height: 1px;
    background-color: black;
    opacity: 0.05;
    display: block;
    position: absolute;
    top: -25px;
  }
}

@media (min-width: @tablet) {
  .page-footer__text {
    font-size: 20px;
    line-height: 24px;
    margin: auto 20px;

    &::before {
      display: none;
    }
  }
}

.page-footer__list {
  display: flex;
  margin: 15px auto;
}

@media (min-width: @tablet) {
  .page-footer__list {
    margin: auto;
  }
}

.page-footer__academy-link {
  position: absolute;
  right: 25px;
  bottom: 15px;
}

@media (min-width: @tablet) {
  .page-footer__academy-link {
    margin: auto;
    margin-right: 40px;
    margin-left: 0;
    position: static;
  }
}
