.page-footer {
  border-radius: 30px 30px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -220px;
  background: white;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--inner {
    margin-top: -40px;
  }
}

.page-footer__wrap {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-footer__logo {
  margin: 30px auto;
}

.page-footer__text {
  color: #444444;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 25px;
  margin-top: 40px;
  margin-right: auto;
  position: relative;

  &::before {
    content: "";
    width: 270px;
    height: 1px;
    background-color: black;
    opacity: 0.05;
    display: block;
    position: absolute;
    top: -25px;

  }
}

.page-footer__list {
  display: flex;
  margin: 15px auto;
}

.page-footer__academy-link {
  position: absolute;
  right: 25px;
  bottom: 15px;
}
