.page-main {
  background-color: #161c35;
  display: flex;
  flex-direction: column;

  &--inner {
    background-color: #edeff6;
  }
}

.page-main__title {
  color: white;
  font-weight: bold;
  width: 320px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding: 40px;
  margin: 0 auto;

  &--inner {
    text-align: center;
    border-radius: 0 0 30px 30px;
    background-color: #161c35;
    padding: 50px 80px 10px 0;
    margin: 0;
    position: relative;
    z-index: 1;
    width: 100%;
  }
}

.page-main__intro {
  display: flex;
  flex-direction: column;
}

.page-main__lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  border-radius: 0 0 30px 30px;
  z-index: 6;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 20px;
  background-color: #161c35;
}

.page-main__destinations {
  position: relative;
  margin-top: -60px;
}

.page-main__profiles {
  position: relative;
  margin-top: -50px;
}

.page-main__prices {
  position: relative;
  margin-top: -30px;
  display: flex;
  flex-direction: column;

  &--business {
    width: 270px;
    position: absolute;
    top: 4095px;
    margin-left: calc(50% - 135px);
    display: none;

    &--open {
      display: block;
    }
  }
}

.page-main__sign-up {
  position: relative;
  margin-top: -50px;
}

.page-main__address {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -50px;
}

.page-main__country-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.page-main__profiles-filter {
  width: 270px;
  margin: 10px auto;
}

.page-main__map {
  display: flex;
  margin-top: -30px;
}

.page-main__profile {
  display: flex;
  flex-direction: column;
}

.page-main__trips-planned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__new-trip {
  position: relative;
  margin-top: -30px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
