.social-list {
  list-style: none;
  padding: 0;
}

.social-list__item {
  &--yellow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffd74b;
  }
}

@media (min-width: @tablet) {
  .social-list__item {
    &--yellow {
      width: 60px;
      height: 60px;
    }
  }
}
