.social-list {
  list-style: none;
  padding: 0;
}

.social-list__item {
  display: block;
  margin-right: 25px;
  position: relative;

  &--fb {
    width: 11px;
    height: 21px;
  }

  &--vk {
    width: 23px;
    height: 12px;
  }

  &--ig {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }

  &--yellow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffd74b;
    margin-right: 0;

    &:hover,
    &:focus {
      background-color: #ffbd30;
    }
  }
}

.social-list__item-icon {
  fill: #1d2e5b;
  opacity: 0.15;

  &--yellow {
    opacity: 1;
    position: absolute;
  }

  &--fb {
    top: 12px;
    left: 16px;
  }

  &--vk {
    top: 16px;
    left: 11px;
  }

  &--ig {
    top: 13px;
    left: 14px;
  }
}

.social-list__item--yellow:active .social-list__item-icon {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .social-list__item {
    margin-right: 33px;

    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--ig {
      width: 24px;
      height: 24px;
    }

    &--yellow {
      width: 60px;
      height: 60px;
      margin-right: 0;
    }
  }

  .social-list__item-icon {
    &--fb {
      width: 14px;
      height: 28px;
      top: 15px;
      left: 22px;
    }

    &--vk {
      width: 31px;
      height: 16px;
      top: 22px;
      left: 14px;
    }

    &--ig {
      width: 24px;
      height: 24px;
      top: 18px;
      left: 18px;
    }
  }
}
