.transport-filter__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;

  &--form {
    margin: 0;
  }
}

.transport-filter__item {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: white;
}

.transport-filter__label {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.15;
  cursor: pointer;

  &--plane {
    background-image: url("../img/plane.svg");
    background-size: 14px 16px;
    background-position: 8px;
  }

  &--bus {
    background-image: url("../img/bus.svg");
    background-size: 13px 16px;
  }

  &--bike {
    background-image: url("../img/bike.svg");
    background-size: 19px 17px;
  }

  &--on-foot {
    background-image: url("../img/run.svg");
    background-size: 15px 17px;
  }
}

.transport-filter__checkbox:hover + .transport-filter__label,
.transport-filter__checkbox:focus + .transport-filter__label {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  opacity: 0.3;
}

.transport-filter__checkbox:active + .transport-filter__label {
  box-shadow: none;
  background-color: #e2e5f1;
  opacity: 0.1;
}

.transport-filter__checkbox:checked + .transport-filter__label {
  opacity: 1;
}

.transport-filter__checkbox:checked:hover + .transport-filter__label,
.transport-filter__checkbox:checked:focus + .transport-filter__label {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  opacity: 0.7;
}

.transport-filter__checkbox:checked:active + .transport-filter__label {
  box-shadow: none;
  background-color: #e2e5f1;
  opacity: 0.3;
}

.transport-filter__checkbox:disabled + .transport-filter__label,
.transport-filter__checkbox:disabled:hover + .transport-filter__label,
.transport-filter__checkbox:disabled:focus + .transport-filter__label,
.transport-filter__checkbox:disabled:active + .transport-filter__label {
  opacity: 0.1;
}

.transport-filter__checkbox:focus + .transport-filter__label {
  outline: 5px auto rgba(0, 150, 255, 1);
}

@media (min-width: @tablet) {
  .transport-filter__list {
    justify-content: flex-start;
    margin-bottom: 20px;

    &--form {
      justify-content: center;
      margin: 12px 0;
    }
  }

  .transport-filter__item {
    width: 43px;
    height: 43px;
    margin-top: 5px;

    &--form {
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .transport-filter__label {
    width: 43px;
    height: 43px;

    &--plane {
      background-size: 19px 21px;
      background-position: 10px;
    }

    &--bus {
      background-size: 17px 21px;
    }

    &--bike {
      background-size: 24px 21px;
    }

    &--on-foot {
      background-size: 20px 21px;
    }
  }
}

@media (min-width: @desktop) {
  .transport-filter__list {
    margin-bottom: 15px;
  }

  .transport-filter__label {
    margin-right: 0;
  }

  .transport-filter__item {
    &--form {
      margin-right: 0;
    }
  }
}
