.transport-filter__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.transport-filter__item {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: white;
}
